@use '../variables';

body {

    background-color: variables.$grey;
    overflow-x: hidden;

    main {
        &.launch {
            @include variables.add-vertical-flex;
            img {
                height: 18rem;
                width: max-content;
            }
        }
    }

    button {
        font-family: variables.$boldy-font;
        font-size: variables.$normal-size;
        font-weight: normal;
        color: white;
        background: variables.$title-color;
        border-radius: 0.5rem;
        margin: 0.5rem 0 0.5rem 0;
        padding: 0.225rem 1rem;
        border: 0;
        box-shadow: 0 0 0.125rem variables.$shadow-color;
        cursor: pointer;
    }
}